<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!--
https://github.com/hibernate/dtd/blob/main/hibernate-configuration-3.0.dtd
-->
<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:mysql://localhost:3306/ad</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <!--property name="connection.username"></property-->
        <!--property name="connection.password"></property-->
        <!--property name="dialect">org.hibernate.dialect.MySQLDialect</property-->


        <property name="show_sql">true</property>


        <mapping class="org.example.retoconjuntojavafx.models.Copies"/>
        <mapping class="org.example.retoconjuntojavafx.models.Movies"/>
        <mapping class="org.example.retoconjuntojavafx.models.User"/>

    </session-factory>
</hibernate-configuration>